

<h1>Su di noi</h1>

The Coder è un social network creato con lo scopo di far apprendere, impartendo semplici lezioni, i principali linguaggi di programmazione quali (<i>C,Java, Python, Assembly, SQL, HTML,CSS</i> e <i>JavaScript</i>) agli appassionati di coding e web development.<br>
I corsi, suddivisi per linguaggio, si suddividono in 10 lezioni, al termine delle quali verrà proposto un quiz per venire abilitati alla lezione successiva.<br>
Il servizio offre inoltre la possibilità comunicare con gli altri utenti attraverso un Forum e proporre esercizi con le rispettive soluzioni.<br>
