

<h1>Pagina About</h1>

Il progetto The Coder ha lo scopo di inizializzare chiunque sia interessato alle basi della programmazione, impartendo semplici lezioni su 8 linguaggi (C,Java, Python, Assembly, SQL, HTML,CSS e JavaScript).<br>
I corsi, suddivisi per linguaggio, si suddividono in 10 lezioni, al termine delle quali verrà proposto un quiz per venire abilitati alla lezione successiva.<br>
Il servizio offre inoltre la possibilità comunicare con gli altri utenti attraverso un Forum e proporre esercizi con le rispettive soluzioni.<br>
