<div class="center jumbotron">
	<h1>Benvenuti su </h1>
	<h1 style="color:#FF8100"><b>The Coder</b></h1>

	

	<%= link_to "Iscriviti", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "The Coder logo", :height => "30%", :width => "30%")%>

