<h1>Reset della Password</h1>

<p>Per resettare la tua Password clicca il link sotto:</p>

<%= link_to "Resetta Password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Questo link non sarà più valido dopo due ore dalla ricezione dell'email.</p>

<p>Se non sei stato tu a richiedere il reset della tua password, ignora questa email e la tua password non cambierà.</p>