<% provide(:title, @problem.titolo) %>
<h1> <%= @problem.titolo %></h1>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        

        <p><b>Linguaggio:</b> <%= @problem.linguaggio %></p>

        <p><b>Esercizio:</b> <%= sanitize @problem.esercizio %></p>

        <p><b>Soluzione:</b> <%=  sanitize @problem.soluzione %></p>
    </div>
</div>