<% if params[:linguaggio] == 'C' %>
	<!DOCTYPE html>
	<html>
		<head>
			<title></title>
			<script type="text/javascript">
				function mostra(){
					document.getElementById("soluzione").style.visibility = "visible";
					
				}
			</script>
		</head>
		
		<body>

		<h1>Esercizio finale di <%= params[:linguaggio]%> </h1>
		Si consideri un file contenente informazioni su un insieme di articoli presenti in magazzino (uno per riga, al massimo 50).<br>
Per ciascun articolo sono memorizzati il numero di pezzi disponibili e il nome, separati da uno spazio.
Il nome è lungo al massimo 20 caratteri e può contenere anche spazi. Come esempio si consideri il seguente
file:<br>
40 Viti M4<br>
37 Viti da legno<br>
20 Martelli<br>
15 Chiavi inglesi<br>
150 Chiodi<br>
3 Pinze<br>
Si scriva una funzione C che prenda come parametri il nome di un file siffatto, il nome di un file di output ed un valore reale che rappresenta una soglia percentuale.<br>
La funzione deve scrivere nel file di output gli articoli del file di input nel formato: nome e percentuale di pezzi di quell’articolo rispetto al numero totale di pezzi in magazzino (separati dal carattere ’:’). La funzione deve però scrivere solo gli articoli che superano in percentuale il valore di soglia e deve anche restituire il numero di articoli nel file di uscita.<br>
Ad esempio, se il file di ingresso è quello dell’esempio e la soglia `e 10.2, il file di uscita sarà il seguente(in quanto Martelli,Chiavi inglesi e Pinze sono in quantità inferiore al 10.2% del totale) e il valore restituito sarà 3:<br>
Viti M4: 15.09<br>
Viti da legno: 13.96<br>
Chiodi: 56.60<br>
<br>
<button onclick="mostra();" class="btn btn-primary">Soluzione</button>
<div id="soluzione" style="visibility: hidden;">
	<h2 style="font-size: 2.5em; color: inherit">Soluzione</h2>

	<code><br>
#include < stdio.h ><br>
#include < stdlib.h ><br>
#define MAX_DIM 100<br>
struct Articolo{<br>
	char nome[21];<br>
	int numero;<br>
};<br>
int TrasformaFile(char nome_file_input[], char nome_file_output[], float soglia);<br>
int LeggiVettore(char nome_file[], struct Articolo v[]);<br>
int main(int argc, char* argv[]){ <br>
	int k;<br>
	if (argc != 4)<br>
		printf("Utilizzo: %s < nome_file_input > < nome_file_output > <soglia>\n", argv[0]);<br>
	else{<br>
		k = TrasformaFile(argv[1],argv[2],atof(argv[3]));<br>
		printf("Il nuovo file contiene %d elementi\n",k);<br>
	}<br>
	return 0;<br>
}<br>
int TrasformaFile(char nome_file_input[], char nome_file_output[], float soglia){<br>
	int i = 0, n, m = 0, totale = 0;<br>
	float percentuale;<br>
	struct Articolo articoli[MAX_DIM];<br>
	FILE* fp;<br>
	n = LeggiVettore(nome_file_input, articoli);<br>
	for (i = 0; i < n; i++)<br>
		totale += articoli[i].numero;<br>
	fp = fopen(nome_file_output,"w");<br>
	for (i = 0; i < n; i++){<br>
		percentuale = 100.0 * articoli[i].numero / totale;<br>
		if (percentuale > soglia)<br>
		{<br>
			fprintf(fp,"%s: %.2f\n",articoli[i].nome,percentuale);<br>
			m++;<br>
		}<br>
	}<br>
	fclose(fp);<br>
	return m;<br>
}<br>
int LeggiVettore(char nome_file[], struct Articolo v[]){<br>
	int i = 0, j;<br>
	FILE* fp;<br>
	fp = fopen(nome_file,"r");<br>
	while(fscanf(fp,"%d",&v[i].numero) != EOF){<br>
		j = 0;<br>
	getc(fp);<br>
	while ((v[i].nome[j] = getc(fp)) != ’\n’)<br>
		j++;<br>
	v[i].nome[j] = ’\0’;<br>
	i++;<br>
	}<br>
return i;<br>
}<br>
</code>
</div>
		</body>
	</html>

	<% elsif params[:linguaggio] == 'Java' %>
	<!DOCTYPE html>
	<html>
		<head>
			<title></title>
			<script type="text/javascript">
				function mostrajava(){
					document.getElementById("soluzione2").style.visibility = "visible";
					
				}
			</script>
		</head>
		
		<body>
			<h1>Esercizio finale di <%= params[:linguaggio]%> </h1>

			Implementare un metodo ricorsivo per il rovesciamento di un array di interi. Ad es., dato l'array [4, 5, 2, 7], il risultato sarà l'array [7, 2, 5, 4].<br>

			<br>
<button onclick="mostrajava();" class="btn btn-primary">Soluzione</button>
<div id="soluzione2" style="visibility: hidden;">
	<h2 style="font-size: 2.5em; color: inherit">Soluzione</h2>

	<code>
MyArray.java <br>
public class MyArray  <br>
{ <br>
      private int[] theArray; <br>
    public MyArray(int[] unArray) <br>
      {      <br>
      theArray = unArray; <br>
      }      <br>
    public int[] getArray() <br>
      {            <br>
      return theArray; <br>
      }      <br>
    public void rovescia() <br>
      {      <br>
      if ((theArray.length)< 2) return; <br>   
      int primo = theArray[0]; <br>
      int ultimo = theArray[(theArray.length-1)]; <br>
          int[] arrayPiccino = new int[(theArray.length-2)]; <br>
            System.arraycopy(theArray,1,arrayPiccino,0,(theArray.length-2)); <br>
      MyArray arrayPiccolo = new MyArray(arrayPiccino); <br>
      arrayPiccolo.rovescia(); <br>
      System.arraycopy(arrayPiccino,0,theArray,1,(theArray.length-2)); <br>
      theArray[0] = ultimo; <br>
      theArray[(theArray.length-1)] = primo; <br>
      }      <br>
    public String stampa()<br>
    { <br>
      String ris=""; <br>
      for (int i=0; i< theArray.length; i++) <br>
         ris = ris +" "+theArray[i]; <br>
      return ris; <br>             
    } <br>
} <br>
MyArrayTest.java <br>
import java.util.Scanner; <br>
public class MyArrayTest <br>
 { <br>
    public static void main (String[] args) <br> 
    { <br>
      int[] array = new int[6]; <br>
      Scanner in = new Scanner(System.in); <br>
      for (int i=0; i< 6; i++) <br>
      { <br>
                System.out.println((i+1)+" numero"); <br>
                array[i] = in.nextInt(); <br>
      } <br>
      MyArray arrayMio = new MyArray(array); <br>
      arrayMio.rovescia(); <br>
      System.out.println(arrayMio.stampa()); <br>
    } 
} 
</code>

</div>
		</body>
		</html>


<% elsif params[:linguaggio] == 'Python' %>

<!DOCTYPE html>
	<html>
		<head>
			<title></title>
			<script type="text/javascript">
				function mostrapython(){
					document.getElementById("soluzione3").style.visibility = "visible";
					
				}
			</script>
		</head>
		
		<body>

		<h1>Esercizio finale di <%= params[:linguaggio]%> </h1>

Scrivi una funzione generatrice di password. La funzione deve generare una stringa alfanumerica di 8 caratteri qualora l'utente voglia una password semplice, o di 20 caratteri ascii qualora desideri una password più complicata.<br>

		<br>
<button onclick="mostrapython();" class="btn btn-primary">Soluzione</button>
<div id="soluzione3" style="visibility: hidden;">
	<h2 style="font-size: 2.5em; color: inherit">Soluzione</h2>

	<code>
import random<br>
<br>
def psw_generator():<br>
    print('Benvenuti nel generatore di password. Il programma permette di scegliere tra due livelli di complessità della password.')<br>
    full_char_table = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!\"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~"<br>
    alpha_char_table = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"<br>
    <br>
    if input("Desideri una password semplice(8 caratteri alfanumerici) o difficile(20 caratteri ascii)?  S/D ") == "D":<br>
        lunghezza = 20<br>
        tipo = full_char_table<br>
    else:<br>
        lunghezza = 8<br>
        tipo = alpha_char_table<br>
    psw = ""<br>
    x = 0<br>
    for x in range(int(lunghezza)):<br>
        psw += tipo[int(random.randrange(len(tipo)))]<br>
        x += 1<br>
        <br>
    print("La password generata è : " + psw)<br>
    </code><br>
</div>
	
		</body>
		</html>


<% elsif params[:linguaggio] == 'Assembly' %>
	<p>Qui ci va il quiz di Assembly</p>
<% elsif params[:linguaggio] == 'SQL' %>
	<p>Qui ci va il quiz di SQL</p>
<% elsif params[:linguaggio] == 'HTML' %>
	<p>Qui ci va il quiz di HMTL</p>
<% elsif params[:linguaggio] == 'CSS' %>
	<p>Qui ci va il quiz di CSS</p>
<% elsif params[:linguaggio] == 'Javascript' %>
	<p>Qui ci va il quiz di Javascript</p>
	
<%end%>