<% provide(:title, @tutorial.titolo) %>
<h1> <%= @tutorial.titolo %></h1>

<div class="row">
    <div class="col-md-8 col-md-offset-2">

		<br><%= sanitize @tutorial.lezione %><br><br>

        <div><%= link_to '<button style="width:120px;" class="btn btn-primary">Quiz</button>'.html_safe, quiz_path(:tutorial_id => params[:id])%></div>



        
    </div>
</div>

