<% provide(:title,"Il sito web è stato temporaneamento sospeso per manutenzione") %>
<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1 style="color: black">
			The Coder è in manutenzione
		</h1>

		<h2 style="font-size: 2.5em; color: black">Ci scusiamo per il disagio</h2>


	</body>
</html>