<footer class="footer">
	<nav>
		<ul>
			<li> <%= link_to "Su di noi",   about_path %> </li>
			<li> <%= link_to "Contattaci",contact_path %> </li>
			<li><a href="https://stackexchange.com/questions?tab=hot" target="_blank">News</a></li>
		</ul>
	</nav>
</footer>