<footer class="footer">
	<nav>
		<ul>
			<li> <%= link_to "Su di noi",   about_path %> </li>
			<li> <%= mail_to "team.thecoder@gmail.com", "Contattaci" %> </li>
			<li><a href="http://https://blog.github.com">News</a></li>
		</ul>
	</nav>
</footer>